<app-header titulo="Menu principal" isMenu="true"></app-header>

<ion-content>
  <ion-card href="/perfil">
    <ion-card-header>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="../../../assets/icon/perfil.jpg" alt="Perfil" slot="start">
      <br>
      <h2 align="center">Ver y editar mi perfil</h2>
    </ion-card-content>

  </ion-card>
  <ion-card href="/inmuebles">
    <ion-card-header>
      <ion-card-title>Mis inmuebles</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="../../../assets/icon/inmuebles.jpg" alt="Inmuebles" slot="start">
      <br>
      <h2 align="center">Ver, agregar y editar mis inmuebles</h2>
    </ion-card-content>

  </ion-card>
</ion-content>