<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="0"></ion-col>
      <ion-col>
        <img src="../assets/icon/favicon.png" width="50" height="50" class="center">
        <form #formulario="ngForm" (ngSubmit)="onSumbit(formulario)">
          <ion-list>
            <ion-item class="center">
              <ion-label>Email</ion-label>
              <ion-input 
                name="usuario" 
                [(ngModel)]="user.usuario" 
                type="email" 
                autocomplete="email" 
                placeholder="example@email.com" 
                required>
              </ion-input>
            </ion-item>
        
            <ion-item class="center">
              <ion-label>Password</ion-label>
              <ion-input 
                name="clave" 
                [(ngModel)]="user.clave" 
                type="password" 
                autocomplete="password" 
                placeholder="*********" 
                required 
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
              </ion-input>
            </ion-item>
          </ion-list>

        <ion-button shape="round" color="tertiary" expand="full" fill="outline" type="submit">Log In</ion-button>
        </form>
      </ion-col>
      <ion-col size="0"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
