<app-header titulo="Inmuebles"></app-header>

<ion-content>
    <ion-list>

        <ion-item>
            <ion-label>Seleccione una propiedad</ion-label>
            <ion-select placeholder="Dirección" (ionChange)="showInfo($event)">
                <ion-select-option *ngFor="let propiedad of myInmuebles" [value]="propiedad.id">{{propiedad.direccion}}
                </ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <ion-list [hidden]="flagHiddenMap">
        <ion-card>
            <ion-card-content>
                <div id='map' style='height: 300px;'></div>
            </ion-card-content>

        </ion-card>

        <ion-list-header>
            <ion-card-title>Más información de la propiedad</ion-card-title>

        </ion-list-header>

        <ion-item-group>
            <ion-item-divider>
                <ion-card-subtitle>Superficie (m²)</ion-card-subtitle>
            </ion-item-divider>

            <ion-item lines="none">
                <ion-label>{{inmuebleSelected.superficie}}</ion-label>
            </ion-item>

            <ion-item-divider>
                <ion-card-subtitle>Latitud</ion-card-subtitle>
            </ion-item-divider>

            <ion-item lines="none">
                <ion-label>{{inmuebleSelected.latitud}}</ion-label>
            </ion-item>

            <ion-item-divider>
                <ion-card-subtitle>Longitud</ion-card-subtitle>
            </ion-item-divider>

            <ion-item lines="none">
                <ion-label>{{inmuebleSelected.longitud}}</ion-label>
            </ion-item>
        </ion-item-group>

        <ion-button color="danger" slot="start" (click)="removeInmueble()">Borrar Propiedad</ion-button>

        <ion-button color="tertiary" (click)="editInmueble()">Editar Propiedad</ion-button>


    </ion-list>

    <ion-button color="success"  expand="block" (click)="addInmueble()">Agregar Propiedad</ion-button>


</ion-content>