<ion-app>
  <ion-menu side="end" menuId="first" color="tertiary">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item *ngFor="let boton of botones | async" [routerLink]="boton.ruta">
            <ion-icon slot="start" [name]="boton.icono" color="tertiary"></ion-icon>
              {{boton.nombre}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
</ion-app>